table{
    border:1px solid black;
    width:80%;
    margin:200px 200px;
}

td{
    border:1px solid black;
    padding: 10px;
}
#header{
    width:30%;
    margin:20px auto;
    text-align: center;
}

a.logout:link,a.addArticle:link,a.articlesList:link{
    padding: 10px;
    border-radius: 15px;
    background-color: limegreen;
    color:wheat;
}

a.logout:hover,a.addArticle:hover,a.articlesList:hover{
    background-color: green;
    text-decoration: none;

}