#custom_post_form{
    text-align: center;
    margin:100px  auto;
    width:60%;

}
.custom_class{
    width:50%;
    height: 30px;
    margin:20px auto;
    display:block;
}
.btn-success{
    padding: 10px;
    border-radius: 15px;

}
.text_class{
    width:80%;
    height: 330px;
    margin:20px auto;
    display:block;
}

#header{
    width:20%;
    margin:20px auto;
    text-align: center;
}

a.registration:link{
    padding: 10px;
    border-radius: 15px;
    background-color: limegreen;
    color:wheat;
}

a.registration:hover{
    background-color: green;
    text-decoration: none;

}
