{% extends 'base.html.twig' %}
{% block title %}Admin menu{% endblock %}
{% block body %}
<div class="container">
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><a href="{{ path('admin_home') }}" class="btn btn-primary btn-lg btn-block">List of Users</a></li>
        <li class="list-group-item"><a href="{{ path('text_check') }}" class="btn btn-primary btn-lg btn-block">Check Articles for publishing</a></li>
        <li class="list-group-item"><a href="{{ path('show_articles') }}" class="btn btn-primary btn-lg btn-block">Show Articles</a></li>
    </ul>
</div>
{% endblock %}